@use "../../../base";

.loginPage {
  height: 100vh;

  .formContainer {
    display: flex;
    flex-direction: column;
    background-color: base.$primary-color;
    min-height: 100%;

    .contentContainer {
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: center;
      justify-content: center;

      .viewContainer {
        color: base.$secondary-color;
        border-bottom: none;
      }

      .inputContainer {
        display: flex;
        flex-direction: column;

        .roundedInput {
          color: white;

          > input {
            border-radius: 2rem;
            border-color: rgba(white, 0.7);
            background-color: transparent;

            &:focus {
              background-color: rgba(white, 0.2);
            }

            &:-webkit-autofill,
            &:-webkit-autofill:hover {
              -webkit-box-shadow: 0 0 0px 1000px base.$primary-color inset !important;
            }

            &:-webkit-autofill:focus {
              -webkit-box-shadow: 0 0 0px 1000px rgba(base.$primary-color, 0.75)
                inset !important;
            }
          }

          ::placeholder {
            color: rgba(white, 0.5);
          }
        }
      }
    }

    .button {
      background-color: base.$secondary-color;
      margin: 0;
      border-radius: 0;
      height: 5rem;

      &:hover,
      &:focus {
        background-color: #bbd172;
      }

      &:after {
        border-color: black transparent transparent !important;
      }
    }
  }
}
