@use "../../base";

.eventInfoMetaSection.important {
  @include base.vertical-space-margin(0.75rem);

  .pointer {
    cursor: pointer;
  }

  .category {
    color: base.$primary-color;
    border-color: #d3c1e5;
  }

  .title {
    color: #453257;
    white-space: pre-wrap;
    word-break: break-word;
  }

  .userInfo {
    @include base.horizontal-space-margin(0.75rem);
    display: flex;
    flex-direction: row;
    align-items: center;

    .name {
      color: #67616d;
    }

    .publishedDateTime {
      color: #bababa;
    }
  }
}
