@use "../../base";

.eventSummaryCard {
  @include base.vertical-space-margin-2;

  .pointer {
    cursor: pointer;
  }

  .meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .userInfo {
      @include base.horizontal-space-margin-1;

      .name {
        color: #67616d;
      }
    }

    .category {
      color: base.$primary-color;
      border-color: #d3c1e5;
    }
  }

  .title {
    color: #453257;
    white-space: pre-wrap;
    word-break: break-word;
  }

  .dateTime {
    color: base.$primary-color;
  }

  .description {
    color: #67616d;
    white-space: pre-wrap;
    word-break: break-word;
  }

  .extra {
    @include base.horizontal-space-margin-4;
    display: flex;
    flex-direction: row;
    align-items: center;

    .loader {
      color: #453257;
    }

    .signedUp {
      color: #453257;

      .icon {
        color: #aecb4f;
      }
    }

    .notSignedUp {
      color: #ac8ec9;
    }

    .liked {
      color: #453257;

      .icon {
        color: #ff5c5c;
      }
    }

    .notLiked {
      color: #ac8ec9;
    }
  }
}
