@use "../../base";

.eventSummaryCard {
  @include base.vertical-space-margin(1rem);

  .pointer {
    cursor: pointer;
  }

  .meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .userInfo {
      @include base.horizontal-space-margin(0.75rem);

      .name {
        color: #67616d;
      }
    }

    .category {
      color: base.$primary-color;
      border-color: #d3c1e5;
    }
  }

  .contentContainer {
    display: flex;
    flex-direction: row;
    @include base.horizontal-space-margin(0.75rem);

    .textContainer {
      @include base.vertical-space-margin(1rem);

      .title {
        color: #453257;
        white-space: pre-wrap;
        word-break: break-word;
      }

      .dateTime {
        color: base.$primary-color;
      }

      .description {
        color: #67616d;
        white-space: pre-wrap;
        word-break: break-word;
      }

      .extra {
        @include base.horizontal-space-margin(2rem);
        display: flex;
        flex-direction: row;
        align-items: center;

        .loader {
          color: #453257;
        }

        .signedUp {
          color: #453257;

          .icon {
            color: #aecb4f;
          }
        }

        .notSignedUp {
          color: #ac8ec9;
        }

        .liked {
          color: #453257;

          .icon {
            color: #ff5c5c;
          }
        }

        .notLiked {
          color: #ac8ec9;
        }
      }
    }
  }
}
