.eventInfoParticipantsSection {
  .pointer {
    cursor: pointer;
  }

  .label {
    color: #67616d;

    .icon {
      color: #ac8ec9;
    }
  }

  .horizontalDivider {
    margin: 0 !important;
  }
}
