@use "../../base";

.eventDetailsView {
  .pointer {
    cursor: pointer;
  }

  .meta {
    @include base.vertical-space-margin-1;

    .category {
      color: base.$primary-color;
      border-color: #d3c1e5;
    }

    .title {
      color: #453257;
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    .userInfo {
      @include base.horizontal-space-margin-1;
      display: flex;
      flex-direction: row;
      align-items: center;

      .name {
        color: #67616d;
      }

      .publishedDateTime {
        color: #bababa;
      }
    }
  }

  .contentContainer {
    background-color: #faf9fc;

    .detailsContainer {
      padding: 0;

      .description {
        color: #67616d;
        white-space: pre-wrap;
        word-wrap: break-word;
      }

      .sectionHeader {
        display: flex;
        flex-direction: row;

        .verticalBar {
          border: 2px solid base.$primary-color;
          margin-right: 0.5rem;
          border-radius: 2px;
        }

        .label {
          color: base.$primary-color;
        }
      }

      .dateTimeSection {
        .periodContainer {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;

          .dateTimeContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-bottom: none;

            .dateContainer {
              font-weight: normal;
              color: #67616d;

              .iconContainer {
                color: base.$secondary-color;
              }
            }

            .timeContainer {
              display: flex;
              flex-direction: row;
              align-items: baseline;
              color: #aecb4f;
              @include base.horizontal-space-margin-1;

              .time {
                font-weight: normal;
                font-size: 2.5rem;
                margin-bottom: 0;
              }
            }
          }

          .verticalDivider {
            margin: 0 1rem;
            border-left: 1px solid #e8e8e8;
          }
        }
      }

      .venueSection {
        .venue {
          margin-top: 0;
        }

        .map {
          width: 100%;
          height: 20rem;
          border-radius: 1rem;
          border: 1px solid rgba(0, 0, 0, 0.1);
        }
      }
    }

    .participantsContainer {
      .label {
        color: #67616d;

        .icon {
          color: #ac8ec9;
        }
      }

      .horizontalDivider {
        margin: 0 !important;
      }
    }

    .commentsContainer {
      height: 30rem;
      overflow-y: auto;

      .commentDivider {
        margin-top: 0;
      }
    }
  }
}
