@use "../../base";

.eventDetailsView {
  .meta {
    @include base.vertical-space-margin-1;

    .category {
      color: base.$primary-color;
      border-color: #d3c1e5;
    }

    .title {
      color: #453257;
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    .userInfo {
      @include base.horizontal-space-margin-1;
      display: flex;
      flex-direction: row;
      align-items: center;

      .name {
        color: #67616d;
      }

      .publishedDateTime {
        color: #bababa;
      }
    }
  }

  .contentContainer {
    background-color: #faf9fc;

    .description {
      color: #67616d;
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    .dateTimeSection {
      .header {
        display: flex;
        flex-direction: row;

        .verticalBar {
          border: 2px solid base.$primary-color;
          margin-right: 0.5rem;
          border-radius: 2px;
        }

        .label {
          color: base.$primary-color;
        }
      }

      .periodContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .dateTimeContainer {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-bottom: none;

          .dateContainer {
            font-weight: normal;
            color: #67616d;

            .iconContainer {
              color: base.$secondary-color;
            }
          }

          .timeContainer {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            color: #aecb4f;
            @include base.horizontal-space-margin-1;

            .time {
              font-weight: normal;
              font-size: 2.5rem;
              margin-bottom: 0;
            }
          }
        }

        .verticalDivider {
          margin: 0 1rem;
          border-left: 1px solid #e8e8e8;
        }
      }
    }
  }
}
