@use "../../base";

.navigationContainer {
  height: 100vh;

  .pageContainer {
    display: flex;
    flex-direction: column;

    &:after {
      background-color: transparent;
    }

    .appBar {
      display: flex;
      flex-direction: row;
      background-color: base.$primary-color;
      padding: 0 0.5rem;
      border-radius: 0;
      margin: 0;

      .tabContainer {
        display: flex;
        flex-direction: row;
        flex: 1;
      }

      .leftTab {
        justify-content: flex-start;
      }

      .centerTab {
        justify-content: center;
      }

      .rightTab {
        justify-content: flex-end;
      }
    }

    .bodyContainer {
      height: 0;
      flex-grow: 1;
      overflow-y: auto;

      .verticalPaddingContainer {
        border-bottom: none;
      }
    }
  }
}
