$primary-color: #8560a9;
$secondary-color: #d5ef7f;

@mixin horizontal-space-margin($spacing) {
  > * {
    margin-right: $spacing;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@mixin vertical-space-margin($spacing) {
  > * {
    margin-bottom: $spacing;
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
