@use "../../base";

.eventInfoView {
  position: relative;

  .tabsSection.important {
    background-color: white;
    z-index: 1;
    position: sticky;
    top: 0;
  }

  .contentContainer {
    background-color: #faf9fc;

    .detailsContainer {
      padding: 0;
    }

    .commentsContainer {
      display: flex;
      flex-direction: column;
      height: 35rem;
    }
  }
}
